* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    background: #54577C;
    width: 15vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.navbar__menu-item {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    padding: 10px;
    margin-top: 40px;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.navbar__menu-item:hover {
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    cursor: pointer;
}

.navbar__menu-item_header {
    margin-left: 10px;
}


.navbar__btn-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #EDC7CF;
    font-size: 30px;
}

.navbar__btn-open:hover {
    background: rgba(255,255,255,0.5);

}


.active {
    width: 100%;
    background: #ffffff;
    color: #333333;
    border-radius: 10px;
}

.central-search {
    padding: 50px 0;
    width: 85vw;
    min-height: 100vh;
    float: right;
    background: #7f9183;
}

.central__wisp {
    padding: 50px 0;
    float: right;
    width: 85vw;
    min-height: 100vh;
    display: none;
    background: #f7b32b;
}

.central__teachers {
    padding: 50px 0;
    float: right;
    width: 85vw;
    min-height: 100vh;
    display: none;
    background: #EDC7CF;
}
.teachers__btn-cleanSearch, .classes__btn-cleanSearch, .central__btn-cleanSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    margin: 30px auto 0 auto;
    color: #EDC7CF;
    z-index: 5;
    width: 40px;
    background: #54577C;
    padding: 5px;

}
.teachers__btn-cleanSearch:hover,.classes__btn-cleanSearch:hover, .central__btn-cleanSearch:hover  {
    transform: scale(1.5);
    cursor: pointer;
}
.central__classes {
    padding: 50px 0;
    float: right;
    width: 85vw;
    min-height: 100vh;
    display: none;
    background: #ECFFF8;
}

.central-main__header {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: #f7b32b;
}

.central-main__text {
    width: 700px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

.search__info {
    width: 700px;
    margin: 40px auto 0 auto;
    text-align: center;
    color: #54577C;
    font-size: 25px;
}

.central-main-search,.teachers-search,.classes-search {
    width: 30%;
    margin: 40px auto 0 auto;
    border-radius: 30px;
    background: #ffffff;
    transition: 1s;
}

.classes-search,.classes__s {
    background: #EDC7CF;
}

.central-main__s, .teachers__s,.classes__s{
    width: 80%;
    height: 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 1vw;
    font-size: 25px;
    font-weight: 500;
    color: #333333;
}

.central-main__s:focus,.teachers__s:focus,.classes__s:focus {
    background: #54577C;
    color: #ffffff;
}

.central-main__loop,.classes__loop,.teachers__loop {
    float: right;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    margin-left: 1%;
    border-radius: 100%;
    background: #54577C;
}


.central-main__loop:hover,.classes__loop:hover,.teachers__loop:hover {
    transform: scale(1.15);
}

.search__dropdown-filter, .classes__dropdown-filter, .teachers__dropdown-filter {
    width: 200px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.search__attribute-btn, .classes__attribute-btn, .teachers__attribute-btn{
    background: #54577C;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}


.search__attribute-btn > i, .classes__attribute-btn > i, .teachers__attribute-btn > i {
    margin-left: 10px;
}

.search__attribute-list, .classes__attribute-list, .teachers__attribute-list {
    margin-top: 10px;
    list-style: none;
    background: rgba(255,255,255,0.5);
    padding: 15px;
    border-radius: 10px;
    display: none;
    transition: 1s;
}

.classes__attribute-list {
    background: #edc7cf9e;
}

.active__search, .classes__search, .teachers__search {
    display: block;
}

.search__attribute-elem, .classes__attribute-elem , .teachers__attribute-elem {
    color: #54577C;
    font-size: 30px;
    font-weight: 500;
    padding: 3px;
    transition: 1s;
}

.search__attribute-elem:hover, .classes__attribute-elem:hover, .teachers__attribute-elem:hover {
    background: #ffffff;
    transform: scale(1.25);
    cursor: pointer;
    transition: 1s;
}


.teachers__header,.classes__header,.wisp__header{
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: #54577C;
}

.teachers__text,.classes__text,.wisp__text {
    width: 700px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #54577C;
    font-size: 25px;
}
.wisp__grid-options {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,10vw);
    grid-auto-rows: 100px;
}

.classes__grid-options  {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,7vw) repeat(1,32vw);
    grid-auto-rows: 100px;
}
.teachers__grid-options {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,7vw) repeat(2,16vw);
    grid-auto-rows: 100px;
}

.teachers__grid-item, .classes__grid-item,.wisp__grid-item {
    border: 3px solid #54577C;
    border-left: none;
    font-size: 1vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDC7CF;
    color: #54577C;
}

.photoStud {
    background: url("Photo/user.png") center center/cover no-repeat;
    width: 100%;
    height: 100%;
    border: transparent;

}

.photoTeach {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    border: transparent;
}

.photoStud:hover, .photoTeach:hover {
    transform: scale(2);
    transition: 0.5s;
    z-index: 4;
}



.option, .classesOption, .wispOption {
    font-weight: 900;
    background: #7f9183;
    color: white;
}
.blue {
    background: #54577C;
    border: 1px solid #ffffff;
}

.teachers__grid-item:first-child,.wisp__grid-item:first-child,.classes__grid-item:first-child {
    border-left: 3px solid #54577C;
}

.teachers__grid-user  {
    text-align: center;
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,7vw) repeat(2,16vw);
    grid-auto-rows: 200px;
}

.wisp__grid-btns {
    position: absolute;
    z-index: 3;
    top: 38%;
    left: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    background: url("logo.png") center center/cover no-repeat;
    border-radius: 100%;
    width: 7vw;
    height: 7vw;
}

.wisp__grid-user {
    position: relative;
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,10vw);
    grid-auto-rows: 300px;
}

 .classes__grid-user{
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,7vw) repeat(1,32vw);
    grid-auto-rows: 150px;

}
.classes__grid-userText-text {
    color: #54577C;
    background: #EDC7CF;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
}
.classes__grid-userText-block {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.classes__grid-userText-btn {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 32vw;
    border: none;
    outline: none;
    padding: 10px;
    width: 30px;
    font-size: 10px;
    font-weight: 500;
}

.wisp__grid-userText-btn {
    border: none;
    outline: none;
    padding: 10px;
    width: 60px;
    font-size: 30px;
    font-weight: 500;
}

.wisp__grid-userText-btn:hover {
    z-index: 3;
    cursor: pointer;
    background: #54577C;
    color: #EDC7CF;
}
.classes__grid-userText-btn:hover {
    transform: scale(1.5);
    z-index: 3;
    cursor: pointer;
}
.text-save {
    background: #7f9183;
    color: white;
    top: 0;
}
.text-delete,.wispText-delete {
    background: #EDC7CF;
    color: #54577C;
    top: 20%;
}
.text-open,.wispText-open {
    background: #54577C;
    color: #EDC7CF;
    top: 40%;
}
.classes__grid-userText-text:focus {
    background: #54577C;
    color: #ffffff;
}

.active-book {
    position: absolute;
    top: 0;
    left: -33vw;
    z-index: 5;
    background: rgb(44, 44, 60);
    width: 200%;
    height: 300%;
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: 500;
}
 .n82 {
     background-image: url("Photo/кафедраИностранныхЯзыков/АлексееваВалерияВячеславовна.jpg");
 }
.n81 {
    background-image: url("Photo/КафедраОбщественныхНаук/АлиевРусланГурбанович.jpg");
}
.n80 {
    background-image: url("Photo/КафедраСловесности/АлимовМаратРашидович.jpg");
}
.n79 {
    background-image: url('Photo/КафедраНачальногоОбразования/АроноваТатьянаАлександровна.jpg');
}
.n78 {
    background-image: url("Photo/КафедраСловесности/БарановаНаталияАлексеевна.jpg");
}
.n77 {
    background-image: url("Photo/кафедраБиологии/БаркЕлизаветаДмитриевна.jpg");
}
.n76 {
    background-image: url("Photo/кафедраФизики/БитДавидЕленаЛьвовна.jpg");
}
.n75 {
    background-image: url("Photo/КафедраХимии/БогородскаяМаринаАнатольевна.jpg");
}
.n74 {
    background-image: url("Photo/КафедраМатематики/БрославскаяОльгаНиколаевна.jpg");
}
.n73 {
    background-image: url("Photo/КафедраФизики/ВергуновАнтонЮрьевич.jpg");
}
.n72 {
    background-image: url("Photo/КафедраФизики/ВергуноваНатальяАлексеевна.jpg");
}
.n71 {
    background-image: url("Photo/КафедраМатематики/ВишневецкаяВераПетровна.jpg");
}

.n70 {
    background-image: url("Photo/КафедраМатематики/ГавриковаОльгаСергеевна.jpg");
}
.n69 {
    background-image: url("Photo/КафедраМатематики/ГерасимовДмитрийСергеевич.jpg");
}
.n68 {
    background-image: url("Photo/КафедраМатематики/ГлуховИльяВикторович.jpg");
}
.n67 {
    background-image: url("Photo/КафедраСловесности/ГоловинАлександрСергеевич.jpg");
}
.n66 {
    background-image: url("Photo/кафедраБиологии/ГоловкоСергейИванович.jpg");
}

.n65 {
    background-image: url("Photo/КафедраМатематики/ГолубевМаксимОлегович.jpg");
}

.n64 {
    background-image: url("Photo/КафедраНачальногоОбразования/ГродинскаяИринаВладимировна.jpg");
}
.n63 {
    background-image: url("Photo/кафедраИностранныхЯзыков/ГусеваОльгаАлександровна.jpg");
}
.n62 {
    background-image: url("Photo/КафедраМатематики/ДегтяревАлексейАлександрович.jpg");
}
.n61 {
    background-image: url("Photo/КафедраМатематики/ЗайцеваОльгаСергеевна.jpg");
}
.n60 {
    background-image: url("Photo/КафедраИнформатики/ЗыонгКимКуокович.jpeg");
}
.n59 {
    background-image: url("Photo/КафедраСловесности/ИгнатьеваОльгаГригорьевна.jpg");
}
.n58 {
    background-image: url("Photo/КафедраФизики/ИоголевичИванАлександрович.jpg");
}
.n57 {
    background-image: url("Photo/КафедраМатематики/КалиновскаяМарияМихайловна.jpg");
}

.n56 {
    background-image: url("Photo/КафедраМатематики/КаминскаяИринаАнатольевна.jpg");
}
.n55 {
    background-image: url("Photo/кафедраИностранныхЯзыков/КарамышеваМаринаЮрьевна.jpg");
}
.n54 {
    background-image: url("Photo/КафедраФизики/КиреевАлександрАнатольевич.jpg");
}
.n53 {
    background-image: url("Photo/КафедраФизики/КлепиковМаксимСергеевич.jpg");
}
.n52 {
    background-image: url("Photo/кафедраИностранныхЯзыков/КлепиковаЮлианаВалерьевна.jpg");
}
.n51 {
    background-image: url("Photo/КафедраИнформатики/КовнерАлександрИкарович.jpg");
}

.n50 {
    background-image: url("Photo/кафедраИностранныхЯзыков/КоломбетТатевикКареновна.jpg");
}
.n49 {
    background-image: url("Photo/кафедраИностранныхЯзыков/КорзиноваИринаЕвгеньевна.jpg");
}
.n48 {
    background-image: url("Photo/кафедраИностранныхЯзыков/КотлярИринаНиколаевна.jpg");
}
.n47 {
    background-image: url("Photo/кафедраИностранныхЯзыков/КрыловаВалерияВалельевна.jpg");
}
.n46 {
    background-image: url("Photo/КафедраМатематики/КудряшовДмитрийРоманович.jpeg");
}
.n45 {
    background-image: url("Photo/КафедраФизики/КурносовВалерийМихайлович.jpg");
}
.n44 {
    background-image: url("Photo/КафедраФизики/КутелевКонстантинАлександрович.jpg");
}
.n43 {
    background-image: url("Photo/кафедраИностранныхЯзыков/ЛавринаАннаВладимировна.jpg");
}
.n42 {
    background-image: url("Photo/кафедраИностранныхЯзыков/ЛевинаМарияАлексеевна.jpg");
}
.n41 {
    background-image: url("Photo/КафедраОбщественныхНаук/ЛонгвиноваЛюбовьПетровна.jpg");
}
.n40 {
    background-image: url("Photo/КафедраСловесности/МакароваНатальяНиколаевна.jpg");
}
.n39 {
    background-image: url("Photo/КафедраИнформатики/МерзляковАлексейВладимирович.jpg");
}
.n38 {
    background-image: url("Photo/КафедраИнформатики/МерзляковВасилийВладимирович.jpg");
}
.n37 {
    background-image: url("Photo/КафедраСловесности/МитрофановаНадеждаНиколаевна.jpg");
}
.n36 {
    background-image: url("Photo/КафедраМатематики/МоревКонстантинВалерьевич.jpg");
}
.n35 {
    background-image: url("Photo/КафедраМатематики/НаливайкоСвятославИгоревич.jpg");
}

.n34 {
    background-image: url("Photo/КафедраСловесности/НикитенкоЛадаВикторовна.jpg");
}
.n33 {
    background-image: url("Photo/КафедраСловесности/НикифороваЕленаМихайловна.jpg");
}
.n32 {
    background-image: url("Photo/КафедраНачальногоОбразования/НовиковаОльгаАлександровна.jpg");
}
.n31 {
    background-image: url("Photo/КафедраМатематики/ОстанинПавелАнтонович.jpeg");
}
.n30 {
    background-image: url("Photo/КафедраИнформатики/ПавловОлегВладимирович.jpg");
}

.n29 {
    background-image: url("Photo/кафедраБиологии/ПавловаАннаВладимировна.jpg");
}
.n28 {
    background-image: url("Photo/кафедраИностранныхЯзыков/ПроценкоСветланаНиколаевна.jpg");
}
.n27 {
    background-image: url("Photo/кафедраИностранныхЯзыков/ПугачеваИринаАлексеевна.jpg");
}
.n26 {
    background-image: url("Photo/КафедраНачальногоОбразования/РомашкинаМаринаЮрьевна.jpg");
}
.n25 {
    background-image: url("Photo/КафедраНачальногоОбразования/РыжоваЕвгенияВалерьевна.jpg");
}
.n24 {
    background-image: url("Photo/КафедраХимии/РябининаОксанаАлександровна.jpg");
}
.n23 {
    background-image: url("Photo/КафедраМатематики/СавватеевАлексейВладимирович.jpg");
}
.n22 {
    background-image: url("Photo/кафедраБиологии/СальниковаЕленаИгоревна.jpg");
}
.n21{
    background-image: url("Photo/КафедраОбщественныхНаук/СамовароваЛидияИвановна.jpg");
}
.n20{
    background-image: url("Photo/КафедраИнформатики/СаморуковВладиславЮрьевич.jpg");
}
.n19 {
    background-image: url("Photo/кафедраИностранныхЯзыков/СапожниковаАннаВладимировна.jpg");
}
.n18 {
    background-image: url("Photo/КафедраФизики/СеитовАндрейИванович.jpg");
}
.n17 {
    background-image: url("Photo/КафедраОбщественныхНаук/СеливановаАннаПавловна.jpg");
}
.n16 {
    background-image: url("Photo/кафедраИностранныхЯзыков/СеменоваЕленаВладимировна.jpg");
}
.n15 {
    background-image: url("Photo/КафедраМатематики/СергееваОльгаПетровна.jpg");
}
.n14 {
    background-image: url("Photo/КафедраСловесности/СергейчикЛарисаВасильевна.jpg");
}
.n13 {
    background-image: url("Photo/кафедраИностранныхЯзыков/СловенкоАлинаИгоревна.jpg");
}
.n12 {
    background-image: url("Photo/кафедраБиологии/СмирноваДарьяСергеевна.jpg");
}
.n11 {
    background-image: url("Photo/КафедраХимии/СнигиреваЕленаМихайловна.jpg");
}
.n10 {
    background-image: url("Photo/КафедраОбщественныхНаук/СтавицкаяЕленаВладимировна.jpg");
}
.n9 {
    background-image: url("Photo/КафедраНачальногоОбразования/ТабаковаТатьянаВикторовна.jpg");
}
.n8{
    background-image: url("Photo/КафедраСловесности/УмноваТатьянаЛьвовна.jpg");
}
.n7 {
    background-image: url("Photo/КафедраИнформатики/УсатюкВладимирВладимирович.jpg");
}
.n6 {
    background-image: url("Photo/КафедраСловесности/УспенскийАндрейГеннадьевич.jpg");
}
.n5 {
    background-image: url("Photo/КафедраНачальногоОбразования/ХарченкоСветланаАлександровна.jpg");
}
.n4 {
    background-image: url("Photo/КафедраФизики/ЧепурнойКириллОлегович.jpg");
}
.n3 {
    background-image: url("Photo/КафедраФизики/ШелковаЕленаЕвгеньевна.jpg");
}

.n2 {
    background-image: url("Photo/КафедраМатематики/ШтыпаЕвгенияСергеевна.jpg");
}
.n1 {
    background-image: url("Photo/КафедраМатематики/ШувачевМатвейОлегович.jpg");
}
.n0 {
    background-image: url("Photo/КафедраФизики/ЮдинИванСергеевич.jpg");
}



/*.n80, .n79, .n75, .n73, .n68, .n65, .n61, .n60, .n56,.n46,.n45,.n44,.n40, .n38, .n37,.n34, .n32, .n31, .n22, .n17, .n14, .n13, .n10,.n5,.n1 {*/
/*    background: url("Photo/user.png") center center/cover no-repeat;*/
/*}*/


@media all and (max-width: 1000px){
    

    .central-main__s, .teachers__s,.classes__s{
        width: 90%;
    }
    .central-main-search,.teachers-search,.classes-search {
        width: 80%;
        margin: 40px auto 0 auto;
        border-radius: 30px;
        background: #ffffff;
        transition: 1s;
        display: flex;
    }
    .teachers__grid-item, .classes__grid-item,.wisp__grid-item {
        font-size: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photoStud {
        width: 100%;
        height: 100%;
    }
    .photoTeach {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        border: transparent;
    }
}